<table class="content-table">
  <thead>
  </thead>
  <tbody>
    <tr>
      <td><%= @ticket.name %></td>
    </tr>
    <tr>
      <td><%= @ticket.description %></td>
    </tr>
    <tr>
      <td><%= @ticket.priority %></td>
    </tr>
    <tr>
      <td><%= link_to('edit', edit_project_ticket_path(@ticket.project, @ticket)) %></td>
    </tr>
  </tbody>
</table>
