<div class="index-main">
  <% @projects.each do |project| %>
    <div class="project-box">
      <%= link_to project.name, project_path(project) %>
      <div>
        <%= project.description %>
      </div>
    </div>
  <% end %>
  <%= link_to 'Create new project', new_project_path, class: 'new-project-link' %>
</div>