<table class="content-table">
  <h3><%= @project.name %> tickets</h3>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Priority</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.name %></td>
        <td><%= ticket.description %></td>
        <td><%= ticket.priority %></td>
      </tr>
    <% end %>
  </tbody>
</table>
