name: CI

permissions:
  contents: read

on:
  pull_request:
  push:
    branches: ['master']

jobs:
  scan_lint_test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:17-alpine
        ports:
          - '5432:5432'
        env:
          POSTGRES_DB: rails_test
          POSTGRES_USER: rails
          POSTGRES_PASSWORD: password

    env:
      RAILS_ENV: test
      DATABASE_URL: 'postgres://rails:password@localhost:5432/rails_test'
      BUNDLE_WITHOUT: debug_gems

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Ubuntu Packages
        run: |
          sudo apt-get update
          sudo apt-get install build-essential bison openssl libreadline-dev curl git zlib1g zlib1g-dev libssl-dev libyaml-dev libxml2-dev autoconf libc6-dev libncurses-dev automake libtool
          sudo apt-get install --no-install-recommends -y google-chrome-stable libjemalloc2 libvips sqlite3

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Scan vulnerabilities and lint
        run: |
          bundle binstubs bundler-audit brakeman rubocop
          bin/bundler-audit --update
          bin/brakeman --no-pager -q -w2
          bin/importmap audit
          bin/rubocop --parallel -f github

      - name: Prepare db and run tests
        env:
          RAILS_ENV: test
          RAILS_MASTER_KEY: ${{ secrets.MASTER_KEY }}
        run: |
          cp config/database.yml.distr config/database.yml
          bin/rake

      - name: Keep screenshots from failed system tests
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: screenshots
          path: ${{ github.workspace }}/tmp/screenshots
          if-no-files-found: ignore
